# SVN 配置示例
# 复制此文件为 .env 并填入真实值
# 用户名密码也可以不填，在首次执行的时候会提示手动输入用户名密码
SVN_USERNAME=your_username
SVN_PASSWORD=your_password
SVN_BASE_URL=http://svnhost/repos/upf_src

#源码目录
UPF_SRC_DIR=/app/volume/SourceCode

# 导出文件配置
UPF_ENV_JSON_URL=${SVN_BASE_URL}/01_DevEnv/docker_env/app/volume/upfenv.json
UPF_ENV_LOCAL_PATH=${UPF_SRC_DIR}/upfenv.json

#ICEXS配置
ICEXS_BASE_DIR=/app/icexs